{:db-spec     {:dbtype   "postgres"
               :dbname   "practitioner"
               :host     "localhost"
               :port     "5432"
               :user "dev"
               :password "password"}
 :http-server {
               :port 3000
               }}